{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block content %}

<!-- Batman news -->
<h2 class="mt-4 text-center "><strong>BATMAN </strong></h2>
<div class="row">{{macro.display_Articles(batman)}}</div>


<!-- DC COMICS NEWS  -->
<h2 class="mt-4 text-center "><strong>DC COMICS </strong></h2>
<div class="row">{{macro.display_Articles(dccomics)}}</div>


<!-- MARVEL NEWS  -->
<h2 class="mt-4 text-center "><strong>MARVEL COMICS </strong></h2>
<div class="row">{{macro.display_Articles(marvel)}}</div>


<!-- ARSENAL NEWS  -->
<h2 class="mt-4 text-center "><strong>AFRICA NEWS </strong></h2>
<div class="row">{{macro.display_Articles(africa)}}</div>

{% endblock %}