{% import 'macros.html' as macro%} 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the News Room </title>
        {% endif %}
    </head>
    <body>
        <!-- Batman news -->
        <h3>BATMAN </h3>
        <ul>
            {{macro.displayNewsList(batman)}}
        </ul>

        <!-- FIFA news -->
        <h3>FIFA 20 </h3>
        <ul>
                {{macro.displayNewsList(fifa20)}}
        </ul>

        <!-- Premier League News  -->
        <h3>PREMIER LEAGUE </h3>
        <ul>
                {{macro.displayNewsList(premierLeague)}}
        </ul>
        <!-- Netflix News  -->
        <h3>NETFLIX </h3>
        <ul>
                {{macro.displayNewsList(netflix)}}
        </ul>

        

    </body>
</html>