{% macro display_new_sources(batman) %}


<div class="container">


<!-- Container -->
<div class="row">
        {% for news in batman%}

        <!-- Column -->
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
      
          <!--Card-->
          <div class="card">
      
            <!--Card image-->
            <div class="view">
              <img src="https://cdn3.mycity4kids.com/images/article-images/web/headersV2/img-20160911-57d5d41e2f886.jpg" class="card-img-top"
                alt="">
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title uppercase">{{news.id}}</h4>
              <!--Text-->
              <p>{{news.description}}</p>
              <a href="{{news.url}}"><button class="mb-0 waves-effect btn-sm btn-outline-danger">Visit {{news.name}}</button></a>

            </div>
      
        </div>
        </div>
        {% endfor %}
</div>

</div>

{% endmacro %}


